.cat-container {
  margin-bottom: 2rem;
}

img {
  width: 300px;
  height: auto;
}

.number-wrapper {
  height: 100px;
  width: 100px;
  background-color: yellowgreen;
  display: grid;
  place-items: center;
}

.number-wrapper > span {
  font-size: 2rem;
}

.cat-name {
  margin: 0;

  font-weight: bold;
  font-size: 1.5rem;
}
